.container {
  margin: 0 auto;
  height: 600px;
  width: 45%;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0 4rem;
  position: relative;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1475px){
  .container{
    height: 900px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 350px;
    height: 100%;
    padding: 0rem 1rem 2rem 1rem;
    /* padding: 0 1rem; */
  }
}
