.about-container{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-container h1{
  font-family: 'Quicksand', sans-serif;
}

.about-container p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 900px) {
  .about-container{
    margin: 0;
  }
}